.root {
    pointer-events: all;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing);
    cursor: pointer;
}

.inputRoot {
    pointer-events: all;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}


.text {
    margin-top: 1px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color);
}

.box {
    width: 24px;
    height: 24px;
    border: solid 1px var(--border);
    border-radius: 24px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-shrink: 0;
    background-color: var(--background);
    transition: all 250ms;

    &:hover {
        box-shadow: var(--focus);
    }
}

.boxDisabled {
    background-color: var(--background-disabled);

    &:hover {
        box-shadow: none;
        cursor: not-allowed;
    }
}

.icon {
    display: none;
    line-height: 1;
    color: var(--color);
}

.input {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

.input:checked ~ .box {
    background-color: var(--background-selected);
    border-color: var(--border);
}

.input:checked ~ .box .icon {
    display: block;
}

.input:focus-visible ~ .box {
    box-shadow: var(--focus);
}

.errorLabel {
    color: var(--color-error);
    font-size: 12px;
    padding-top: 4px;
}
