.root {
    margin-bottom: var(--spacing);
}

.inputRoot {
    position: relative;
}

.label {
    font-size: var(--font-size);
    line-height: 1;
    color: var(--color);
    margin-bottom: 0;
    position: absolute;
    top: -2px;
    left: 16px;
    cursor: text;
    transform: translateY(calc((var(--input-height) - 14px) / 2));
    transition: all 250ms;
}

.label.disableShrink {
    display: block;
    position: static;
    margin-bottom: var(--label-spacing);
    color: var(--color);
    transform: none;
}

.prepend ~ .placeholder {
    padding: 24px 16px 0 60px !important;
}

.placeholder {
    padding: 19px 16px 0 !important;
}

.labelPlaceholder {
    font-size: 12px;
    transform: translateY(9px);
    top: 0;
}

.input {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: var(--color);
    padding: 19px 16px 0;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    height: var(--input-height);
    transition: all 250ms;
    font-family: var(--font-family);
}

.input:focus {
    box-shadow: var(--focus);
}

.input::placeholder {
    color: var(--color-placeholder);
    font-size: 14px;
}

.input:-webkit-autofill:not(.disableShrink) ~ .label,
.input:focus:not(.disableShrink) ~ .label,
.input:not([value=''], .disableShrink) ~ .label {
    font-size: 12px;
    transform: translateY(9px);
}

.input.disableShrink {
    padding: 16px;
}

.append,
.prepend {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.prepend {
    left: 16px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color);
    padding-right: 13px;
    border-right: 1px solid var(--border);
}

.prepend ~ .label {
    left: 62px;
}

.prepend ~ .input {
    padding: 20px 16px 0 60px;
}

.prepend ~ .input.disableShrink {
    padding: 16px 16px 16px 60px;
}

.append {
    right: 16px;
    height: 56px;
}

.append ~ .input {
    padding: 19px 56px 0 16px;
}

.append ~ .input.disableShrink {
    padding: 0 50px 0 16px;
}

.appendDisabledShrink {
    top: 24px;
    transform: none;
}

.errorLabel {
    color: var(--color-error);
    font-size: 12px;
    padding-top: var(--label-spacing);
}

.disabled {
    background: var(--background-disabled);
    color: var(--color);
    cursor: not-allowed;
}
