# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea
package-lock.json

# storybook static
/storybook-static

# dist
/dist

/TextArea
/AmountInput
/Input
/Select
/Checkbox
/Radio
/DatePicker
/RadioGroup
/DateRangePicker
/MultipleDatePicker
/Switch
/PasswordInput
/NumberInput
/PhoneInput
/Calendar
/Form

/index.js
/index.css
/index.mjs