.root {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--rfe-spacing);
}

.inputRoot {
  height: 100%;
  width: auto;
}

.label {
  margin-bottom: var(--rfe-label-spacing);
  font-size: var(--rfe-font-size);
  line-height: 20px;
  color: var(--rfe-color);
  pointer-events: all;
  cursor: pointer;
}

.slider {
  width: 100%;
}

.vertical {
  height: 200px;

  .tracks {
    width: 10px !important;
    background: var(--rfe-background) !important;
    border: 1px solid var(--rfe-border) !important;
  }

  .track {
    width: 10px !important;
    background: var(--rfe-background-selected) !important;
    border: 1px solid var(--rfe-border) !important;
  }

  .rail {
    height: 100% !important;
    width: 10px !important;
    background: var(--rfe-background) !important;
    border: 1px solid var(--rfe-border) !important;
  }

  .handle {
    background: var(--rfe-background) !important;
    border: 1px solid var(--rfe-border) !important;
    cursor: pointer !important;
    opacity: 1 !important;
    box-shadow: none !important;
    width: 20px !important;
    height: 20px !important;

    &:hover {
      border: 1px solid var(--rfe-border) !important;
      background: var(--rfe-background-selected) !important;
      box-shadow: var(--rfe-focus) !important;
    }
  }
}

.horizontal {
  .tracks {
    height: 10px !important;
    background: var(--rfe-background) !important;
    border: 1px solid var(--rfe-border) !important;
  }

  .track {
    height: 10px !important;
    background: var(--rfe-background-selected) !important;
    border: 1px solid var(--rfe-border) !important;
  }

  .rail {
    width: 100% !important;
    height: 10px !important;
    background: var(--rfe-background) !important;
    border: 1px solid var(--rfe-border) !important;
  }

  .handle {
    background: var(--rfe-background) !important;
    border: 1px solid var(--rfe-border) !important;
    cursor: pointer !important;
    opacity: 1 !important;
    box-shadow: none !important;
    width: 20px !important;
    height: 20px !important;

    &:hover {
      border: 1px solid var(--rfe-border) !important;
      background: var(--rfe-background-selected) !important;
      box-shadow: var(--rfe-focus) !important;
    }
  }
}

.disabled {
  background: none !important;
  cursor: not-allowed !important;

  .tracks {
    background: var(--rfe-background-disabled) !important;
  }

  .track {
    background: var(--rfe-background-disabled) !important;
  }

  .rail {
    background: var(--rfe-background-disabled) !important;
  }

  .handle {
    background: var(--rfe-background) !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
  }
}

.error {
  .handle {
    border-color: var(--rfe-color-error) !important;
  }

  .rail {
    border-color: var(--rfe-color-error) !important;
  }

  .tracks {
    border-color: var(--rfe-color-error) !important;
  }

  .track {
    border-color: var(--rfe-color-error) !important;
  }
}

.slider:focus-within {
  .handle {
    box-shadow: var(--rfe-focus) !important;
  }
}

.errorLabel {
  color: var(--rfe-color-error);
  font-size: var(--rfe-error-font-size);
  margin-top: var(--rfe-label-spacing);
  pointer-events: none;
}
