.inputContainer {
  position: relative;
  margin-bottom: var(--rfe-spacing);
  box-sizing: border-box;
}

.label {
  font-size: var(--rfe-font-size);
  line-height: 1;
  color: var(--rfe-color);
  margin-bottom: 0;
  position: absolute;
  top: -2px;
  left: 16px;
  cursor: text;
  transform: translateY(calc((var(--rfe-input-height) - 14px) / 2));
  transition:
    transform 250ms,
    font-size 250ms;
  width: calc(100% - 16px);

  &::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: calc(100% - 14px);
    height: 24px;
    background-color: var(--rfe-background);
    transition: all 250ms;
    z-index: -1;
  }
}

.inputContainer.focusedContainer .label {
  font-size: 12px;
  transform: translateY(9px);
}

.inputContainer .innerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputContainer .innerWrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--rfe-border-radius);
}

.input {
  background-color: var(--rfe-background);
  resize: none;
  color: var(--rfe-color);
  padding: 7px 16px;
  font-size: 14px;
  width: 100%;
  line-height: 24px;
  border-radius: var(--rfe-border-radius);
  border: 1px solid var(--rfe-border);
  transition: all 250ms;
  font-family: var(--rfe-font-family);
}

.inputContainer .innerWrapper .input.withLabel {
  padding-top: 25px;
  padding-bottom: 0;
}

.inputContainer .innerWrapper .input:focus {
  box-shadow: var(--rfe-focus);
}

.errorLabel {
  color: var(--rfe-color-error);
  font-size: var(--rfe-error-font-size);
  margin-top: var(--rfe-label-spacing);
  pointer-events: none;
}

.disabled {
  background-color: var(--rfe-background-disabled) !important;
  color: var(--rfe-color) !important;
  cursor: not-allowed !important;
}

.disabledLabel {
  &::before {
    background-color: var(--rfe-background-disabled) !important;
  }
}

.disableShrink {
  display: block;
  position: static !important;
  font-size: var(--rfe-font-size) !important;
  color: var(--rfe-color);
  transform: none;
  margin-bottom: var(--rfe-label-spacing);

  &::before {
    background-color: var(--rfe-transparent);
  }
}

.disableShrinkInput {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}

.input::placeholder {
  font-size: 14px;
  color: var(--rfe-color-placeholder);
}

.labelPlaceholder {
  font-size: 12px;
  transform: translateY(9px);
}
