.root {
  margin-bottom: var(--rfe-spacing);
}

.inputRoot {
  position: relative;
  width: 100%;
}

.label {
  font-size: var(--rfe-font-size);
  line-height: 1;
  color: var(--rfe-color);
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 16px;
  transform: translateY(21px);
  transition:
    transform 250ms,
    font-size 250ms;
  pointer-events: all;
  cursor: text;

  &.disableShrink {
    display: block;
    position: static;
    margin-bottom: 10px;
    color: var(--rfe-color);
    transform: none;
  }
}

.focusedLabel {
  font-size: 12px;
  transform: translateY(9px);
}

.input {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: var(--rfe-color);
  padding: 20px 16px 0;
  background: var(--rfe-background);
  border: 1px solid var(--rfe-border);
  border-radius: var(--rfe-border-radius);
  height: var(--rfe-input-height);
  transition: all 250ms;

  &:focus {
    box-shadow: var(--rfe-focus);

    &::placeholder {
      color: var(--rfe-color-placeholder);
    }
  }

  &::placeholder {
    color: var(--rfe-color-placeholder);
    font-size: 14px;
  }

  &:-webkit-autofill,
  &:focus,
  &:not([value='']) {
    &:not(.disableShrink) {
      & ~ .label {
        font-size: 12px;
        transform: translateY(9px);
      }
    }
  }

  &.disableShrink {
    padding: 16px;
  }
}

.append,
.prepend {
  position: absolute;
  color: var(--rfe-color);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.prepend {
  left: 16px;
  font-size: 14px;
  line-height: 16px;
  padding-right: 13px;
  border-right: 1px solid var(--rfe-border);

  & ~ .label {
    left: 62px;
  }

  & ~ .input {
    padding: 20px 16px 0 60px;

    &.disableShrink {
      padding: 16px 16px 16px 60px;
    }
  }
}

.append {
  right: 16px;
  height: 56px;

  & ~ .input {
    padding: 20px 50px 0 16px;

    &.disableShrink {
      padding: 0 50px 0 16px;
    }
  }
}

.appendDisabledShrink {
  top: 24px;
  transform: none;
}

.noLabel {
  padding: 16px;
}

.errorLabel {
  color: var(--rfe-color-error);
  font-size: var(--rfe-error-font-size);
  margin-top: var(--rfe-label-spacing);
  pointer-events: none;
}

.inputError {
  border-color: var(--rfe-color-error) !important;
}

.disabled {
  background: var(--rfe-background-disabled);
  color: var(--rfe-color);
  cursor: not-allowed;
}
