.switch {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: relative;
  margin-bottom: var(--rfe-spacing);
  cursor: pointer;
}

.inputRoot {
  display: flex;
  align-items: center;
}

.label {
  margin-top: 1px;
  font-size: var(--rfe-font-size);
  line-height: 20px;
  color: var(--rfe-color);
}

.errorLabel {
  color: var(--rfe-color-error);
  font-size: var(--rfe-error-font-size);
  margin-top: var(--rfe-label-spacing);
}

.switchCheckbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.switchCheckbox:focus-visible ~ .switchLabel {
  box-shadow: var(--rfe-focus);
}

.switchLabel {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  border: var(--rfe-border) 1px solid;
  background-color: var(--rfe-background);
  height: 28px;
  width: 56px;
  position: relative;
  margin: 0 16px 0 0;

  &:hover {
    box-shadow: var(--rfe-focus);
  }
}

.switchSwitch {
  display: block;
  width: 20px;
  height: 20px;
  margin: 1px;
  background: var(--rfe-background);
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 29px;
  border-radius: 100px;
  transition: all 250ms;
  border: var(--rfe-border) 1px solid;
}

.switchInnerChecked {
  margin-left: 0;
  background: var(--rfe-background-selected);
}

.switchSwitchChecked {
  right: 2px;
}

.disabled {
  box-shadow: none !important;
  cursor: not-allowed !important;
  background: var(--rfe-background-disabled);

  & span {
    background: var(--rfe-background);
  }
}
