.root {
  pointer-events: all;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--rfe-spacing);

  & label {
    margin-bottom: var(--rfe-label-spacing);
  }

  & label:last-of-type {
    margin-bottom: 0;
  }
}

.label {
  font-size: var(--rfe-font-size);
  line-height: 1;
  color: var(--rfe-color);
  margin-bottom: var(--rfe-label-spacing);
}

.errorLabel {
  color: var(--rfe-color-error);
  font-size: var(--rfe-error-font-size);
  margin-top: var(--rfe-label-spacing);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rfe-spacing);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.card {
  cursor: pointer;
  border: solid 1px var(--rfe-border);
  border-radius: var(--rfe-border-radius);
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: var(--rfe-white);
  flex-shrink: 0;
  background-color: var(--rfe-background);
  transition: all 250ms;

  label {
    width: 100%;
    text-align: center;
    padding: var(--rfe-label-spacing);

    div {
      width: 100%;
      text-align: center;
    }
  }
}

.card:hover {
  box-shadow: var(--rfe-focus);
}

.card:focus-within {
  box-shadow: var(--rfe-focus);
}

.selected {
  background-color: var(--rfe-background-selected);
  border-color: var(--rfe-border);
}

.disabled {
  background-color: var(--rfe-background-disabled);
  box-shadow: none !important;

  & > label:hover {
    box-shadow: none;
    cursor: not-allowed;

    div {
      cursor: not-allowed;
    }
  }
}

.hide {
  display: none;
}

.inputError {
  border-color: var(--rfe-color-error) !important;
}
