.root {
  pointer-events: all;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--rfe-spacing);

  & label {
    margin-bottom: var(--rfe-label-spacing);
  }

  & label:last-of-type {
    margin-bottom: 0;
  }
}

.label {
  font-size: var(--rfe-font-size);
  line-height: 1;
  color: var(--rfe-color);
  margin-bottom: var(--rfe-label-spacing);
}

.errorLabel {
  color: var(--rfe-color-error);
  font-size: var(--rfe-error-font-size);
  margin-top: var(--rfe-label-spacing);
}
