:root {
  --rfe-transparent: transparent;
  --rfe-white: #fff;
  --rfe-white-rgb: 255 255 255;
  --rfe-black: #000;
  --rfe-black-rgb: 0 0 0;
  --rfe-color: #000;
  --rfe-color-placeholder: #646464;
  --rfe-color-error: #ff383e;
  --rfe-border: #ddd;
  --rfe-background: #fafafa;
  --rfe-background-selected: #f0f0f0;
  --rfe-background-disabled: #e1e1e1;
  --rfe-border-radius: 6px;
  --rfe-font-size: 16px;
  --rfe-placeholder-font-size: 14px;
  --rfe-focused-font-size: 12px;
  --rfe-error-font-size: 12px;
  --rfe-input-height: 56px;
  --rfe-spacing: 16px;
  --rfe-label-spacing: 10px;
  --rfe-focus: 0 0 10px #dcdcdc;
  --rfe-font-family: 'Arial', sans-serif;
  --rfe-transition: all 250ms;

  .rdp {
    --rdp-cell-size: 40px !important; /* Size of the day cells. */
    --rdp-caption-font-size: 16px !important; /* Font size for the caption labels. */
    --rdp-accent-color: var(
      --rfe-background-selected
    ) !important; /* Accent color for the background of selected days. */

    --rdp-background-color: var(
      --rfe-background-selected
    ) !important; /* Background color for the hovered/focused elements. */

    --rdp-outline: 2px solid rgb(128 128 128) !important; /* Outline border for focused elements */
    --rdp-outline-selected: 3px solid var(--rdp-accent-color) !important; /* Outline border for focused _and_ selected elements */
    --rdp-selected-color: var(
      --rfe-color
    ) !important; /* Color of selected day text */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --rfe-white: #000;
    --rfe-white-rgb: 0 0 0;
    --rfe-black: #fff;
    --rfe-black-rgb: 255 255 255;
    --rfe-color: #fff;
    --rfe-color-placeholder: #646464;
    --rfe-border: #303030;
    --rfe-background: #0f0f0f;
    --rfe-background-selected: #191919;
    --rfe-background-disabled: #282828;
    --rfe-focus: 0 0 10px #4b4b4b, 0 0 0 1px #4b4b4b;
  }
}

* {
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: var(--rfe-transparent);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

/* EDGE */
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-clip: border-box !important;
  -webkit-text-fill-color: var(--rfe-color) !important;
  box-shadow: 0 0 0 1000px var(--rfe-background) inset !important;
}

input:-webkit-autofill:disabled,
input:-webkit-autofill:disabled:hover,
input:-webkit-autofill:disabled:focus,
input:-webkit-autofill:disabled:active,
textarea:-webkit-autofill:disabled,
textarea:-webkit-autofill:disabled:hover,
textarea:-webkit-autofill:disabled:focus,
textarea:-webkit-autofill:disabled:active,
select:-webkit-autofill:disabled,
select:-webkit-autofill:disabled:hover,
select:-webkit-autofill:disabled:focus,
select:-webkit-autofill:disabled:active {
  background-clip: border-box !important;
  -webkit-text-fill-color: var(--rfe-color) !important;
  box-shadow: 0 0 0 1000px var(--rfe-background-disabled) inset !important;
}

input {
  appearance: none;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: var(--rfe-font-size) !important;
}
