.toggle {
  background: none;
  border: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
}

.iconEye {
  color: var(--rfe-color);
  padding: 16px 0;
}

.eyeOpen button::after {
  content: 'Close';
}

.eyeClose button::after {
  content: 'Open';
}

.eye {
  --duration-blink: 0.2s;
  --duration-lashes: 0.2s;
  --delay-lashes: var(--duration-blink);
  --duration-pupil: 0.1s;
  --delay-pupil: calc(var(--duration-blink) * 2 / 3);
}

.eyeBottom,
.eyeTop {
  stroke-linecap: round;
}

.eyeTop,
.eyeLashes {
  transition: var(--duration-blink) ease-in;
}

.eyePupil {
  opacity: 0;
  transition: opacity var(--duration-pupil) var(--delay-pupil) ease;
}

.eyeOpen .eyeTop,
.eyeOpen .eyeLashes {
  transform: rotateX(0.5turn);
  animation: scale-up var(--duration-lashes) var(--delay-lashes) ease-in-out;
}

.eyeOpen .eyePupil {
  opacity: 1;
}

.eyeClose .eyeLashes {
  animation: scale-down var(--duration-lashes) var(--duration-blink) ease-in-out;
}

.eyeClose .eyePupil {
  opacity: 0;
}

@keyframes scale-up {
  50% {
    transform: rotateX(0.5turn) scaleY(1.15);
  }

  100% {
    transform: rotateX(0.5turn) scaleY(1);
  }
}

@keyframes scale-down {
  50% {
    transform: scaleY(1.15);
  }

  100% {
    transform: scaleY(1);
  }
}
