.toggle {
    background: none;
    border: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.iconEye {
    width: 40px;
    margin: auto;
    padding: 20px;
    overflow: auto;
    color: var(--color);
}

.eyeOpen button::after {
    content: "Close";
}

.eyeClose button::after {
    content: "Open";
}

.eye {
    --duration-blink: .2s;
    --duration-lashes: .2s;

    --delay-lashes: var(--duration-blink);
    --duration-pupil: .1s;
    --delay-pupil: calc(var(--duration-blink) * 2 / 3);
}

.eyeBottom, .eyeTop {
    stroke-linecap: round;
}

.eyeTop, .eyeLashes {
    transition: var(--duration-blink) ease-in;
}

.eyePupil {
    opacity: 0;
    transition: opacity var(--duration-pupil) var(--delay-pupil) ease;
}

.eyeOpen .eyeTop,
.eyeOpen .eyeLashes {
    transform: rotateX(.5turn);
    animation: scaleUp var(--duration-lashes) var(--delay-lashes) ease-in-out;
}

.eyeOpen .eyePupil {
    opacity: 1;
}

.eyeClose .eyeLashes {
    animation: scaleDown var(--duration-lashes) var(--duration-blink) ease-in-out;
}

.eyeClose .eyePupil {
    opacity: 0;
}

@keyframes scaleUp {
    50% {
        transform: rotateX(.5turn) scaleY(1.15);
    }
    to {
        transform: rotateX(.5turn) scaleY(1);
    }
}

@keyframes scaleDown {
    50% {
        transform: scaleY(1.15);
    }
    to {
        transform: scaleY(1);
    }
}