.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  color: var(--rfe-color);
  padding: 0 4px;
  margin: 0 4px;
  background: none;
  border: 0;
  border-radius: var(--rfe-border-radius);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
}
