.root {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--rfe-spacing);
}

.inputRoot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.label {
  margin-top: 1px;
  font-size: var(--rfe-font-size);
  line-height: 20px;
  color: var(--rfe-color);
  pointer-events: all;
  cursor: pointer;
}

.box {
  width: 28px;
  height: 28px;
  border: solid 1px var(--rfe-border);
  border-radius: var(--rfe-border-radius);
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rfe-white);
  flex-shrink: 0;
  background-color: var(--rfe-background);
  transition: all 250ms;

  &:hover {
    box-shadow: var(--rfe-focus);
  }
}

.boxDisabled {
  background-color: var(--rfe-background-disabled);

  &:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.icon {
  display: none;
  line-height: 1;
  color: var(--rfe-color);
}

.input {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.input:checked ~ .box {
  background-color: var(--rfe-background-selected);
  border-color: var(--rfe-border);
}

.input:checked ~ .box .icon {
  display: block;
}

.input:focus-visible ~ .box {
  box-shadow: var(--rfe-focus);
}

.errorLabel {
  color: var(--rfe-color-error);
  font-size: var(--rfe-error-font-size);
  margin-top: var(--rfe-label-spacing);
  pointer-events: none;
}
